$font-family-base: Arial, sans-serif;
$font-size-xs: 0.68rem;
$font-size-sm: 0.72rem;
$font-size-md: 0.8rem;
$font-size-lg: 0.95rem;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
